node_modules/@fortawesome/fontawesome-free/LICENSE.txt
node_modules/@fortawesome/fontawesome-free/attribution.js
node_modules/@fortawesome/fontawesome-free/css/brands.css
node_modules/@fortawesome/fontawesome-free/css/brands.min.css
node_modules/@fortawesome/fontawesome-free/css/fontawesome.css
node_modules/@fortawesome/fontawesome-free/css/fontawesome.min.css
node_modules/@fortawesome/fontawesome-free/css/regular.css
node_modules/@fortawesome/fontawesome-free/css/regular.min.css
node_modules/@fortawesome/fontawesome-free/css/solid.css
node_modules/@fortawesome/fontawesome-free/css/solid.min.css
node_modules/@fortawesome/fontawesome-free/css/svg-with-js.css
node_modules/@fortawesome/fontawesome-free/css/svg-with-js.min.css
node_modules/@fortawesome/fontawesome-free/css/v4-shims.css
node_modules/@fortawesome/fontawesome-free/css/v4-shims.min.css
node_modules/@fortawesome/fontawesome-free/js/
node_modules/@fortawesome/fontawesome-free/less/
node_modules/@fortawesome/fontawesome-free/metadata/
node_modules/@fortawesome/fontawesome-free/package.json
node_modules/@fortawesome/fontawesome-free/scss/
node_modules/@fortawesome/fontawesome-free/sprites/
node_modules/@fortawesome/fontawesome-free/svgs/
node_modules/@fortawesome/fontawesome-free/webfonts/
